*
{
	font-family: monospace;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html
{
	width: 100%;
	height: 100%;
}

canvas
{
	min-width: 0;
	min-height: 0;
}

body
{
    background-color: #333;
    color: #fff;
	width: 100%;
	height: 100%;
	display: grid;
	padding: 1em;
	gap: 1em;
	grid-template-rows: auto 1fr;
	grid-template-columns: 1fr;
	grid-template-areas:	"title"
				"canvas";
	justify-items: center; /*Individual left-right*/
	align-items: center; /*Individual up-down*/
	justify-content: stretch; /*Container left-right*/
	align-content: stretch; /*Container up-down*/
}

#canvas
{
    background-color: #f0f0f0;
    border-radius: 5px;
	object-fit: contain;
	width: 100%;
	height: 100%;
	grid-area: canvas;
}
